.sidebar-wrapper {
  height: 100vh;
  width: fit-content;
  overflow-y: scroll;
}

.profile {
  margin: 10px;
  background-color: #2c2c2c;
  border-radius: 50%;
  height: 60px;
  aspect-ratio: 1;
}

.profile:hover {
  border-radius: 30%;
}

.sidebar-wrapper > * {
  transition: 0.2s;
  cursor: pointer;
}

.sidebar-wrapper:hover > *:not(:hover) {
  opacity: 0.6;
}

.sidebar-item-separator {
  width: 60%;
  height: 3px;
  border-radius: 2.5px;
  background-color: #0c0c0c;
  margin: auto;
}

.add-friend:hover {
  background-color: #e5ca1b;
}
