.chat-wrapper {
  position: relative;
  height: 100vh;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  /* animation: chat-animation 0.2s ease-in-out forwards; */
}

.chat-header {
  position: absolute;
  height: fit-content;
  width: 100%;
  background-color: #000000;
  padding-top: 10px;
}

.chat-user {
  display: flex;
  gap: 10px;
  padding: 10px;
  align-items: center;
  width: fit-content;
}

.chat-user-picture {
  border-radius: 50%;
  height: 30px;
  aspect-ratio: 1;
  background-color: #979797;
}

.chat-user-name {
  font-size: 80%;
}

.chat-inputs {
  position: absolute;
  bottom: 0px;
  width: 100%;
  background-color: #000000;
  padding: 0 20px;
  padding-bottom: 30px;
}

.text-input {
  width: 100%;
  background-color: #282828;
  color: white;
}

.chat-conversation {
  width: 100%;
  height: 100%;
  padding: 50px 30px 70px 30px;
  overflow-y: scroll;
  z-index: -9;
}

.chat-item-wrapper {
  display: flex;
  margin: 10px 0;
}

.chat-bubble {
  width: fit-content;
  max-width: 60%;
  height: fit-content;
  border-radius: 10px;
  background-color: #303030;
  /* font-weight: bold; */
  padding: 10px 15px;
  animation: chat-bubble-animation 0.2s ease-in-out forwards;
  z-index: -9;
  overflow-wrap: break-word;
  user-select: text !important;
}

.chat-bubble > * {
  vertical-align: middle;
  user-select: text;
}

@keyframes chat-animation {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes chat-bubble-animation {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
