.hello-there {
  user-select: none;
  align-self: center;
  height: fit-content;
  display: flex;
  justify-content: space-around;
}

.hello-there > * {
  width: 200px;
  text-align: center;
  transform: scale(0.8);
}

.hello-there svg {
  width: 100%;
  height: 50%;
  transform: scale(0.8);
}

.welcome-header {
  display: flex;
  gap: 10px;
  width: fit-content;
  margin: 50px auto;
}

.welcome {
  opacity: 0.5;
}
